<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Cucumber Parallel Execution" verbose="4" thread-count="2" parallel="tests" data-provider-thread-count="3">
    <test name="Cucumber Tests">
        <classes>
            <class name="com.example.runner.CucumberRunnerTests" />
        </classes>
    </test>
</suite>
